@model FinalProy.Models.PagoPendiente

@{
    ViewBag.Title = "Crear pago pendiente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
            <li>@Html.ActionLink("Contáctanos", "Contact", "Home")</li>
            <li>@Html.ActionLink("Ingresar Noticia", "Create", "Noticias")</li>
            <li>@Html.ActionLink("Ingresar pagos Pendientes", "Create", "PagoPendientes")</li>
            <li>@Html.ActionLink("Ingresar eventos", "Create", "eventoes")</li>

        </ul>
    </div>
}

<h2>Crear pago</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pagos pendientes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.totalPago, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.totalPago, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.totalPago, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CedulaEnMora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CedulaEnMora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CedulaEnMora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
