@model FinalProy.Models.PagoPendiente

@{
    ViewBag.Title = "Borrar pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
            <li>@Html.ActionLink("Contáctanos", "Contact", "Home")</li>
            <li>@Html.ActionLink("Ingresar Noticia", "Create", "Noticias")</li>
            <li>@Html.ActionLink("Ingresar pagos Pendientes", "Create", "PagoPendientes")</li>
            <li>@Html.ActionLink("Ingresar eventos", "Create", "eventoes")</li>

        </ul>
    </div>
}

<h2>Pagos pendientes</h2>

<h3>¿Estás seguro que deseas eliminar este pago?</h3>
<div>
    <h4>Pagos Pendiente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.totalPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CedulaEnMora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedulaEnMora)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
