@model FinalProy.Models.evento

@{
    ViewBag.Title = "Eliminar eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
            <li>@Html.ActionLink("Contáctanos", "Contact", "Home")</li>
            <li>@Html.ActionLink("Ingresar Noticia", "Create", "Noticias")</li>
            <li>@Html.ActionLink("Ingresar pagos Pendientes", "Create", "PagoPendientes")</li>
            <li>@Html.ActionLink("Ingresar eventos", "Create", "eventoes")</li>

        </ul>
    </div>
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que deseas eliminar el evento?</h3>
<div>
    <h4>evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evento_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_place)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
