
@{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
            <li>@Html.ActionLink("Contáctanos", "Contact", "Home")</li>
            <li>@Html.ActionLink("Ingresar Noticia", "Create", "Noticias")</li>
            <li>@Html.ActionLink("Ingresar pagos Pendientes", "Create", "PagoPendientes")</li>
            <li>@Html.ActionLink("Ingresar eventos", "Create", "eventoes")</li>

        </ul>
        @Html.Partial("_LoginPartial")
    </div>
    ViewBag.Title = "Sobre nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>Nuestra alcalde</h3>

<img width="125"
     height="150" src="/angela_ileana_aguilar_vargas.jpeg">

<h3>Ángela Aguilar Vargas</h3>
<p>Saludos a todos y todas las heredianas.....</p>

Máster en Ingeniería Industrial, Economista y Técnico Medio en Contabilidad, egresada de la Universidad Nacional de Costa Rica, ha laborado en el sector privado, destacándose en proyectos de alcance nacional e internacional, sector cooperativo y público; tiene 14 años de experiencia en la gestión municipal. Se ha desempeñado en diferentes áreas como: Presupuesto, Gestión de Proyectos, Contraloría de Servicios, Jefe de Rentas y Cobranzas, y Desarrollo Socioeconómico y Cultural, experiencia que le permite tener una amplia visión de liderazgo y gestión de un Gobierno Local.

Ha sido gestora y activista de importantes proyectos en beneficio del Cantón en el ámbito social, económico y deportivo, como por ejemplo: El Proyecto Renacer en Vara Blanca, el Centro Cívico por la Paz, El Programa Social y Educativo Tierra Fértil, la Política de Turismo Sostenible, la Estrategia de Turismo Rural en Varablanca y la Organización de la Vuelta Ciclística a Costa Rica, entre otros.


