@{
    ViewBag.Title = "Contáctanos";
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
            <li>@Html.ActionLink("Contáctanos", "Contact", "Home")</li>
            <li>@Html.ActionLink("Ingresar Noticia", "Create", "Noticias")</li>
            <li>@Html.ActionLink("Ingresar pagos Pendientes", "Create", "PagoPendientes")</li>
            <li>@Html.ActionLink("Ingresar eventos", "Create", "eventoes")</li>

        </ul>
    </div>
}
<h2>@ViewBag.Title.</h2>
<h3>Horarios de atención en las oficinas</h3>

<img width="800"
     height="1200" src="/horarios_1.png">
