@model FinalProy.Models.noticias

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
            <li>@Html.ActionLink("Contáctanos", "Contact", "Home")</li>
            <li>@Html.ActionLink("Ingresar Noticia", "Create", "Noticias")</li>
            <li>@Html.ActionLink("Ingresar pagos Pendientes", "Create", "PagoPendientes")</li>
            <li>@Html.ActionLink("Ingresar eventos", "Create", "eventoes")</li>

        </ul>
    </div>
}

<h2>Consulta de noticias</h2>

<div>
    <h4>Noticias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreNoticia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreNoticia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuerpoNoticia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuerpoNoticia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdNoticia }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
